<div [id]="PRODUCT_ID.PRODUCT_MAIN_SECTION">
  <div class="row mx-4 my-3">
    <div class="col-12">
      <h2 class="float-start">
        {{ "product.title" | translate }}
      </h2>
    </div>
    <div class="col-12 mb-3">
      <h3 class="float-start my-1">
        {{ "product.listOfProducts" | translate }}
      </h3>
      <div class="float-end d-flex align-items-center gap-2">
        <button
          mat-button
          [disabled]="productIdsChecked.length === 0"
          [ngClass]="
            productIdsChecked.length === 0 ? 'btn-disabled' : 'btn-danger'
          "
          (click)="productIdsChecked.length !== 0 && onBulkDeleteProducts()"
          [id]="
            productIdsChecked.length === 0
              ? PRODUCT_ID.BUTTON_DELETE
              : PRODUCT_ID.BUTTON_DELETE_MULTIPLE
          "
        >
          <mat-icon>delete</mat-icon>
          <span>
            {{
              productIdsChecked.length === 0
                ? ("shared.delete" | translate)
                : ("shared.deleteSelected" | translate)
            }}
          </span>
        </button>

        <button
          class="btn-primary"
          mat-button
          (click)="openFormDialog('add')"
          [id]="PRODUCT_ID.BUTTON_CREATE"
        >
          <mat-icon>add</mat-icon>
          <span>{{ "product.createNewProduct" | translate }}</span>
        </button>
      </div>
    </div>
    <div class="col-12 mb-3 search-field">
      <mat-form-field appearance="outline" [id]="PRODUCT_ID.INPUT_SEARCH">
        <mat-icon>search</mat-icon>
        <input
          matInput
          placeholder="{{ 'product.searchByName' | translate }}"
          [formControl]="searchText"
          (keyup.enter)="onSearch()"
        />
        <mat-icon
          class="pointer icon-clear"
          [matTooltip]="'shared.clear' | translate"
          (click)="resetData()"
        >
          clear
        </mat-icon>
      </mat-form-field>
    </div>
    <div class="col-12 products-list mb-3">
      <table
        mat-table
        [dataSource]="dataSource"
        class="mat-elevation-z8"
        [class.no-data-table]="totalRecords === 0"
        [id]="PRODUCT_ID.PRODUCT_LIST"
      >
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef class="text-center"></th>
          <td class="text-center" mat-cell *matCellDef="let element">
            <input
              type="checkbox"
              [value]="element.pk"
              (change)="onCheckboxChecked($event)"
            />
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class="text-center">
            {{ "product.table.name" | translate }}
          </th>
          <td
            class="text-center pointer"
            mat-cell
            *matCellDef="let element"
            (click)="openProductDetailsDialog(element.pk)"
          >
            {{ element.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef class="text-center">
            {{ "product.table.price" | translate }}
          </th>
          <td class="text-center" mat-cell *matCellDef="let element">
            {{ element.price != null ? (element.price | number:'1.2-2') : '-' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="isActive">
          <th mat-header-cell *matHeaderCellDef class="text-center">
            {{ "product.table.isActive" | translate }}
          </th>
          <td class="text-center" mat-cell *matCellDef="let element">
            {{ element.isActive ? ("product.active" | translate) : ("product.inactive" | translate) }}
          </td>
        </ng-container>

        <ng-container matColumnDef="createdTime">
          <th mat-header-cell *matHeaderCellDef class="text-center">
            {{ "product.table.createdTime" | translate }}
          </th>
          <td class="text-center" mat-cell *matCellDef="let element">
            {{ element.createdTime | date : "medium" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="updatedTime">
          <th mat-header-cell *matHeaderCellDef class="text-center">
            {{ "product.table.updatedTime" | translate }}
          </th>
          <td class="text-center" mat-cell *matCellDef="let element">
            {{ element.updatedTime | date : "medium" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="text-center">
            {{ "shared.actions" | translate }}
          </th>
          <td class="text-center" mat-cell *matCellDef="let element">
            <mat-icon
              class="text-warning pointer mx-1"
              [matTooltip]="'shared.edit' | translate"
              (click)="openFormDialog('edit', element.pk)"
            >
              edit
            </mat-icon>
            <mat-icon
              class="text-danger pointer mx-1"
              [matTooltip]="'shared.delete' | translate"
              (click)="onDelete(element.pk, element.name)"
            >
              delete
            </mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <app-no-data-found
        *ngIf="totalRecords === 0"
        [panelId]="PRODUCT_ID.PRODUCT_LIST_NOT_FOUND"
      ></app-no-data-found>
    </div>
    <div [hidden]="totalRecords === 0">
      <mat-paginator
        [id]="PRODUCT_ID.PRODUCT_LIST_PAGINATION"
        #productPaginator
        [length]="totalRecords"
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 20, 30, 40, 50]"
      ></mat-paginator>
    </div>
  </div>
</div>
