<div [id]="TASK_ID.TASK_DIALOG">
  <h2 mat-dialog-title>
    {{
      this.data.action === "add"
        ? ("task.createNewTask" | translate)
        : ("task.editTask" | translate)
    }}
  </h2>
  <mat-dialog-content>
    <form
      [id]="
        this.data.action === 'add'
          ? TASK_ID.TASK_FORM_CREATE
          : TASK_ID.TASK_FORM_EDIT
      "
      class="mx-3 my-4"
      [formGroup]="taskForm"
    >
      <div class="row">
        <mat-form-field class="col-6" appearance="outline">
          <mat-label>
            {{ "task.table.title" | translate }}
          </mat-label>
          <input
            matInput
            formControlName="title"
            placeholder="{{ 'task.table.title' | translate }}"
          />
          @if (taskForm.controls['title'].errors?.['required']) {
          <mat-error>
            {{ "shared.error.titleRequired" | translate }}
          </mat-error>
          }
        </mat-form-field>

        <mat-form-field class="col-6" appearance="outline">
          <mat-label>
            {{ "task.table.taskType" | translate }}
          </mat-label>
          <mat-select formControlName="taskType">
            <mat-option *ngFor="let type of taskTypes" [value]="type">
              {{ type }}
            </mat-option>
          </mat-select>
          @if (taskForm.controls['taskType'].errors?.['required']) {
          <mat-error>
            {{ "shared.error.taskTypeRequired" | translate }}
          </mat-error>
          }
        </mat-form-field>
      </div>

      <div class="row my-3">
        <mat-form-field class="col-6" appearance="outline">
          <mat-label>
            {{ "task.table.status" | translate }}
          </mat-label>
          <mat-select formControlName="status">
            <mat-option *ngFor="let s of taskStatuses" [value]="s">
              {{ s }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="col-6" appearance="outline">
          <mat-label>
            {{ "task.table.priority" | translate }}
          </mat-label>
          <mat-select formControlName="priority">
            <mat-option *ngFor="let p of taskPriorities" [value]="p">
              {{ p }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="row my-3">
        <mat-form-field class="col-6" appearance="outline">
          <mat-label>
            {{ "task.table.dueDate" | translate }}
          </mat-label>
          <input matInput [matDatepicker]="dueDatePicker" formControlName="dueDate" />
          <mat-datepicker-toggle
            matSuffix
            [for]="dueDatePicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #dueDatePicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field
          class="col-6"
          appearance="outline"
          *ngIf="assignedToUsers && assignedToUsers.length > 0"
        >
          <mat-label>
            {{ "task.table.assignedTo" | translate }}
          </mat-label>
          <mat-select formControlName="assignedTo">
            <mat-option *ngFor="let user of assignedToUsers" [value]="user">
              {{ user }}
            </mat-option>
          </mat-select>
          @if (taskForm.controls['assignedTo'].errors?.['required']) {
          <mat-error>
            {{ "shared.error.assignedToRequired" | translate }}
          </mat-error>
          }
        </mat-form-field>
      </div>

      <div class="row my-3">
        <mat-form-field class="col-12" appearance="outline">
          <mat-label>
            {{ "task.table.description" | translate }}
          </mat-label>
          <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close [id]="TASK_ID.BUTTON_CANCEL">
      {{ "shared.cancel" | translate }}
    </button>
    <button
      mat-button
      cdkFocusInitial
      (click)="!taskForm.invalid && onSubmit()"
      [ngClass]="taskForm.invalid ? 'btn-disabled' : 'btn-primary'"
      [id]="TASK_ID.BUTTON_SUBMIT"
    >
      {{ "shared.submit" | translate }}
    </button>
  </mat-dialog-actions>
</div>
