<h2 mat-dialog-title>
  {{ "user.changePassword" | translate }}
</h2>
<mat-dialog-content>
  <form class="mx-3 my-4" [formGroup]="passwordForm">
    <div class="row mb-3">
      <mat-form-field class="col-12" appearance="outline">
        <mat-label>{{ "user.oldPassword" | translate }}</mat-label>
        <input matInput type="password" formControlName="oldPassword" />
        @if (passwordForm.controls['oldPassword'].errors?.['required']) {
        <mat-error>
          {{ "shared.error.passwordRequired" | translate }}
        </mat-error>
        }
      </mat-form-field>
    </div>

    <div class="row mb-3">
      <mat-form-field class="col-12" appearance="outline">
        <mat-label>{{ "user.newPassword" | translate }}</mat-label>
        <input matInput type="password" formControlName="newPassword" />
        @if (passwordForm.controls['newPassword'].errors?.['required']) {
        <mat-error>
          {{ "shared.error.passwordRequired" | translate }}
        </mat-error>
        } @if (passwordForm.controls['newPassword'].errors?.['minlength']) {
        <mat-error>
          {{ "shared.error.passwordMinLength" | translate }}
        </mat-error>
        }
      </mat-form-field>
    </div>

    <div class="row mb-3">
      <mat-form-field class="col-12" appearance="outline">
        <mat-label>{{ "user.table.confirmPassword" | translate }}</mat-label>
        <input matInput type="password" formControlName="confirmPassword" />
        @if (passwordForm.controls['confirmPassword'].errors?.['required']) {
        <mat-error>
          {{ "shared.error.confirmPasswordRequired" | translate }}
        </mat-error>
        } @if (passwordForm.controls['confirmPassword'].errors?.['matching']) {
        <mat-error>
          {{ "shared.error.passwordsMustMatch" | translate }}
        </mat-error>
        }
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>
    {{ "shared.cancel" | translate }}
  </button>
  <button
    mat-button
    cdkFocusInitial
    (click)="!passwordForm.invalid && onSubmit()"
    [ngClass]="passwordForm.invalid ? 'btn-disabled' : 'btn-primary'"
  >
    {{ "shared.submit" | translate }}
  </button>
</mat-dialog-actions>
